<div class="box tabular">
  <p>
    <%= form.label :test_plan %>
    <%= (@test_plan || @test_case_execution.test_plan).name %>
  </p>
  <p>
    <%= form.label :test_case %>
    <%= (@test_case || @test_case_execution.test_case).name %>
  </p>
  <p>
    <%= form.label :environment %>
    <%= @test_case.environment %>
  </p>
  <p>
    <%= form.label :result %>
    <%= form.select :result, { l(:label_failure) => false, l(:label_succeed) => true } %>
  </p>
  <p>
    <%= form.label :user %>
    <% if @test_case and @test_case.user %>
      <%= form.select :user, @user_candidates, selected: @test_case.user.id %>
    <% else %>
      <%= form.select :user, @user_candidates %>
    <% end %>
  </p>
  <p>
    <%= form.label :execution_date %>
    <%= form.date_field :execution_date,
        value: (@test_case_execution.execution_date ? @test_case_execution.execution_date.strftime("%F") : Time.now.strftime("%F")), required: true %>
  </p>
  <p>
    <%= form.label :issue %>
    <%= form.text_field :issue_id, id: 'issue_id' %>
    <%= link_to l(:label_issue_new),
                new_project_issue_path(@project),
                :target => "_blank",
                :class => "icon icon-add new-issue" %>
  </p>
  <p>
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </p>
</div>

<div class="box">
  <p>
    <%= form.label l :label_attachment_plural %>
    <%= render partial: 'attachments/form' %>
  </p>
</div>

<%= javascript_tag "observeAutocompleteField('issue_id', '#{escape_javascript auto_complete_issues_path(project_id: @project, issue_id: @test_case_execution.issue_id)}')" %>
