<div class="contextual">
  <%= link_to l(:label_test_case_execution_new), new_project_test_plan_test_case_test_case_execution_path, :class => 'icon icon-add new-issue' %>
</div>

<h2><%=l(:label_test_case_executions)%></h2>

<div class="autoscroll">
  <table class="list issues odd-even sort-by-id sort-desc">
    <thead>
      <tr>
        <th><%=l(:label_test_case_executions)%></th>
        <th><%=l(:field_result)%></th>
        <th><%=l(:field_user)%></th>
        <th><%=l(:field_execution_date)%></th>
        <th><%=l(:field_comment)%></th>
        <th><%=l(:field_issue)%></th>
      </tr>
    </thead>
    <tbody>
      <% @test_case_executions.each do |test_case_execution| %>
      <tr>
        <td><%= link_to test_case_execution.id, project_test_plan_test_case_test_case_execution_path(id: test_case_execution.id) %></td>
        <td>
          <% if test_case_execution.result %>
            <%= l(:label_succeed) %>
          <% else %>
            <%= l(:label_failure) %>
          <% end %>
        </td>
        <td><%= test_case_execution.user.name %></td>
        <td><%= test_case_execution.execution_date %></td>
        <td><%= test_case_execution.comment %></td>
        <td>
          <% if test_case_execution.issue %>
            <%= link_to test_case_execution.issue, issue_path(id: test_case_execution.issue.id) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
