<div class="contextual">
  <%= link_to l(:label_test_case_execution_new), new_project_test_plan_test_case_test_case_execution_path, :class => 'icon icon-add new-issue' %>
</div>

<h2><%=l(:label_test_case_executions)%></h2>

<%= form_tag(project_test_plan_test_case_test_case_executions_path, :method => :get, :id => 'query_form') do %>
  <%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @test_case_executions.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => 'test_case_executions/list', :locals => {:test_case_executions => @test_case_executions, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @test_case_execution_pages, @test_case_execution_count %></span>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_case_executions/sidebar' %>
<% end %>
