<%= render :partial => 'action_menu', :locals => {:project_id => @project.name } %>

<h2 class="inline-flex"><%= breadcrumb %><%=l(:label_test_case_executions)%> #<%= @test_case_execution.id %></h2>

<div class="issue details">
  <div class="subject">
    <div>
      <h3><%= @test_case.name %> <%=l(:field_result) %></h3>
    </div>
  </div>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%=l(:field_test_plan)%></div>
          <div id="test_plan" class="value"><%= link_to @test_plan.name, project_test_plan_path(:project_id => @project.name, :id => @test_plan.id) %></div>
        </div>
        <div class="status attribute">
          <div class="label"><%=l(:field_test_case)%></div>
          <div id="test_case" class="value"><%= link_to @test_case.name, project_test_plan_test_case_path(:project_id => @project.name, :id => @test_case.id) %></div>
        </div>
        <div class="assigned-to attribute">
          <div class="label"><%=l(:field_user)%></div>
          <div id="user" class="value"><%= @test_case_execution.user.name if @test_case_execution.user %></div>
        </div>
      </div>
      <div class="splitcontentleft">
        <div class="result attribute">
          <div class="label"><%=l(:field_result)%></div>
          <div id="result" class="value">
            <% if @test_case_execution.result %>
              <%= l(:label_succeed) %>
            <% else %>
              <%= l(:label_failure) %>
            <% end %>
          </div>
        </div>
        <div class="scheduled-date attribute">
          <div class="label"><%=l(:field_execution_date)%></div>
          <div id="execution_date" class="value"><%= yyyymmdd_date(@test_case_execution.execution_date) %></div>
        </div>
        <div class="issue_id attribute">
          <div class="label"><%=l(:field_issue)%></div>
          <div id="issue_id" class="value">
            <% if @test_case_execution.issue %>
              <%= link_to @test_case_execution.issue, issue_path(id: @test_case_execution.issue.id) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p><%=l(:field_comment)%></p>
      <div id="comment" class="wiki">
        <%= @test_case_execution.comment %>
      </div>
    </div>
  </div>
  <div class="attributes">
    <div>
      <p><%=l(:field_scenario)%></p>
      <pre id="scenario" class="wiki"><%= @test_case.scenario %></pre>
    </div>
    <div>
      <p><%=l(:field_expected)%></p>
      <pre id="expected" class="wiki"><%= @test_case.expected %></pre>
    </div>
  </div>
  <% if @test_case_execution.attachments.any? %>
    <hr />
    <p><strong><%=l(:label_attachment_plural)%></strong></p>
    <%= link_to_attachments @test_case_execution, :thumbnails => true %>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'test_case_executions/sidebar' %>
<% end %>
