<div class="box tabular">
  <p>
    <%= form.label :test_plan %>
    <% if @test_plan %>
      <%= @test_plan.name %>
      <%= form.hidden_field :test_plan_id, :value => @test_plan.id %>
    <% else %>
      <%= form.select :test_plan_id, @test_plan_candidates %>
    <% end %>
  </p>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, size: 80, required: true %>
  </p>
  <p>
    <%= form.label :user %>
    <% if @test_case and @test_case.user %>
      <%= form.select :user, @user_candidates, selected: @test_case.user.id %>
    <% else %>
      <%= form.select :user, @user_candidates %>
    <% end %>
  </p>
  <p>
    <%= form.label :scheduled_date %>
    <%= form.date_field :scheduled_date %>
  </p>
  <p>
    <%= form.label :environment %>
    <%= form.text_field :environment, size: 80, required: true %>
  </p>
  <p>
    <%= form.label :scenario %>
    <%= form.text_area :scenario, required: true %>
  </p>
  <p>
    <%= form.label :expected %>
    <%= form.text_area :expected, required: true %>
  </p>
  <%= form.hidden_field :project_id, :value => @project_id %>
</div>

<div class="box">
  <p>
    <%= form.label l :label_attachment_plural %>
    <%= render partial: 'attachments/form' %>
  </p>
</div>
