<h3><%= l(:label_testcase_management) %></h3>

<ul>
  <li><%= link_to l(:label_test_plans), project_test_plans_path %></li>
  <% if @test_plan and @test_case %>
    <li><%= link_to l(:label_test_case_executions),
                    project_test_plan_test_case_test_case_executions_path(
                      test_case_id: @test_case.id,
                    ) %></li>
    <li><%= link_to l(:label_test_case_execution_new),
                    new_project_test_plan_test_case_test_case_execution_path(
                      test_case_id: @test_case.id,
                    ) %></li>
  <% end %>
</ul>

<%= call_hook(:view_test_cases_sidebar_bottom) %>
