<h2><%=l(:permission_edit_test_case)%> <%= @test_case.name %></h2>

<%= form_with model: @test_case, url: project_test_plan_test_case_path do |f| %>
  <%= render partial: 'test_cases/form', locals: {form: f} %>
  <%= f.submit l(:button_update) %>
<% end %>
