<div class="contextual">
  <% if @test_plan_given %>
    <% if @test_plan %>
      <%= link_to l(:label_test_case_new), new_project_test_plan_test_case_path, :class => 'icon icon-add new-issue' %>
    <% else %>
      <%= link_to l(:label_test_case_new), new_project_test_plans_path, :class => 'icon icon-add new-issue' %>
    <% end %>
  <% else %>
    <%= link_to l(:label_test_case_new), new_project_test_case_path, :class => 'icon icon-add new-issue' %>
  <% end %>
</div>

<h2><%=l(:label_test_cases)%></h2>

<% if @test_plan_given %>
  <%= form_tag(project_test_plan_test_cases_path, :method => :get, :id => 'query_form') do %>
    <%= render :partial => 'queries/query_form' %>
  <% end %>
<% else %>
  <%= form_tag(project_test_cases_path, :method => :get, :id => 'query_form') do %>
    <%= render :partial => 'queries/query_form' %>
  <% end %>
<% end %>

<% if @query.valid? %>
  <% if @test_cases.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => "test_cases/list", :locals => {:test_cases => @test_cases, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @test_case_pages, @test_case_count %></span>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_cases/sidebar' %>
<% end %>
