<h2 class="inline-flex"><%=l(:label_test_cases)%> #<%= @test_case.id %></h2>

<div class="issue details">
  <div class="subject">
    <div>
      <h3><%= @test_case.name %></h3>
    </div>
  </div>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%=l(:field_status)%></div>
          <div class="value"><%= @test_case.issue_status.name if @test_case.issue_status %></div>
        </div>
        <div class="assigned-to attribute">
          <div class="label"><%=l(:field_user)%></div>
          <div class="value"><%= @test_case.user.name if @test_case.user %></div>
        </div>
      </div>
      <div class="splitcontentleft">
        <div class="scheduled-date attribute">
          <div class="label"><%=l(:field_scheduled_date)%></div>
          <div class="value"><%= @test_case.scheduled_date %></div>
        </div>
        <div class="environment-date attribute">
          <div class="label"><%=l(:field_environment)%></div>
          <div class="value"><%= @test_case.environment %></div>
        </div>
      </div>
    </div>
  </div>
  <div id="scenario">
    <p><%=l(:field_scenario)%></p>
    <div class="wiki">
      <%= @test_case.scenario %>
    </div>
  </div>
  <hr/>
  <div id="expected">
    <p><%=l(:field_expected)%></p>
    <div class="wiki">
      <%= @test_case.expected %>
    </div>
  </div>
  <hr/>
  <div id="test_case_execution_tree">
    <div class="contextual">
      <%= link_to l(:label_added), "/projects/#{@project.name}/test_case_executions/new?back_url=/projects/#{@project.name}/test_cases/#{@test_case.id}&test_case_id=#{@test_case.id}" %> 
    </div>
    <p><%=l(:label_test_case_executions)%></p>
  </div>
</div>
