<div class="box tabular">
  <p><%= form.label :name %>
    <%= form.text_field :name, size: 80, required: true %></p>
  <p>
    <%= form.label :begin_date %>
    <%= form.date_field :begin_date %></p>
  <p>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %></p>
  <p>
    <%= form.label :user %>
    <% if @test_plan and @test_plan.user %>
      <%= form.select :user, @user_candidates, selected: @test_plan.user.id %></p>
    <% else %>
      <%= form.select :user, @user_candidates %></p>
    <% end %>
  <p>
    <%= form.label :estimated_bug %>
    <%= form.number_field :estimated_bug, in: 0..9999 %></p>
  <p>
    <%= form.label :status %>
    <% if @test_plan and @test_plan.issue_status %>
      <%= form.select :issue_status, @issue_status_candidates, selected: @test_plan.issue_status.id %></p>
    <% else %>
      <%= form.select :issue_status, @issue_status_candidates %></p>
    <% end %>
  <%= form.hidden_field :project_id, :value => @project_id %></p>
</div>
