<div class="contextual">
  <%= link_to l(:label_test_plan_new), new_project_test_plan_path(@project), :class => 'icon icon-add new-issue' %>
  <%= actions_dropdown do %>
    <% if User.current.allowed_to?(:import_test_plans, @project, :global => true) %>
      <%= link_to l(:button_import),
                  new_test_plans_import_path(:project_id => @project),
                  :class => 'icon icon-import' %>
    <% end %>
  <% end %>
</div>

<h2><%=l(:label_test_plans)%></h2>

<%= form_tag(project_test_plans_path, :method => :get, :id => 'query_form') do %>
  <%= render :partial => 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @test_plans.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render :partial => "test_plans/list", :locals => {:test_plans => @test_plans, :query => @query} %>
    <span class="pagination"><%= pagination_links_full @test_plan_pages, @test_plan_count %></span>
  <% end %>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to_with_query_parameters 'CSV',
                                      :format => 'csv' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'test_plans/sidebar' %>
<% end %>
