<h2>Test Plans</h2>

<div class="autoscroll">
  <table class="list issues odd-even sort-by-id sort-desc">
    <thead>
      <tr>
        <th><%=l(:field_name)%></th>
        <th><%=l(:field_status)%></th>
        <th><%=l(:field_estimated_bugs)%></th>
        <th><%=l(:field_user)%></th>
        <th><%=l(:field_begin_date)%></th>
        <th><%=l(:field_end_date)%></th>
      </tr>
    </thead>
    <tbody>
      <% @test_plans.each do |test_plan| %>
      <tr>
        <td><%= link_to test_plan.name, "/projects/#{@project.name}/test_plans/#{test_plan.id}" %></td>
        <td><%= test_plan.issue_status.name %></td>
        <td><%= test_plan.estimated_bug %></td>
        <td><%= test_plan.user.name %></td>
        <td><%= test_plan.begin_date %></td>
        <td><%= test_plan.end_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
