<%= render :partial => 'action_menu', :locals => {:project_id => @project.name } %>

<h2 class="inline-flex"><%=l(:label_test_plans)%> #<%= @test_plan.id %></h2>

<div class="issue details">
  <div class="subject">
    <div>
      <h3><%= @test_plan.name %></h3>
    </div>
  </div>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%=l(:field_status)%></div>
          <div class="value"><%= @test_plan.issue_status.name if @test_plan.issue_status %></div>
        </div>
        <div class="estimated-bug attribute">
          <div class="label"><%=l(:field_estimated_bug)%></div>
          <div class="value"><%= @test_plan.estimated_bug %></div>
        </div>
        <div class="assigned-to attribute">
          <div class="label"><%=l(:field_user)%></div>
          <div class="value"><%= @test_plan.user.name if @test_plan.user %></div>
        </div>
      </div>
      <div class="splitcontentleft">
        <div class="start-date attribute">
          <div class="label"><%=l(:field_begin_date)%></div>
          <div class="value"><%= @test_plan.begin_date %></div>
        </div>
        <div class="end-date attribute">
          <div class="label"><%=l(:field_end_date)%></div>
          <div class="value"><%= @test_plan.end_date %></div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div id="test_case_tree">
    <div class="contextual">
      <%= link_to l(:label_added), new_project_test_plan_test_case_path(test_plan_id: @test_plan.id) %>
    </div>
    <p><%=l(:label_test_cases)%></p>
    <table class="list issues odd-even">
      <tbody>
        <% @test_plan.test_cases.each do |test_case| %>
          <tr class="list issue">
            <td><%= link_to test_case.name, project_test_plan_test_case_url(test_plan_id: @test_plan.id, id: test_case.id) %></td>
            <td><%= test_case.issue_status.name %></td>
            <td><%= test_case.user.name %></td>
            <td><%= test_case.scheduled_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
