<%= render :partial => 'action_menu', :locals => {:project_id => @project.name } %>

<h2 class="inline-flex"><%=l(:label_test_plans)%> #<%= @test_plan.id %></h2>

<div class="issue details">
  <div class="subject">
    <div>
      <h3><%= @test_plan.name %></h3>
    </div>
  </div>
  <div class="attributes">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="status attribute">
          <div class="label"><%=l(:field_status)%></div>
          <div id="status" class="value"><%= @test_plan.issue_status.name if @test_plan.issue_status %></div>
        </div>
        <div class="estimated-bug attribute">
          <div class="label"><%=l(:field_estimated_bug)%></div>
          <div id="estimated_bug" class="value"><%= @test_plan.estimated_bug %></div>
        </div>
        <div class="assigned-to attribute">
          <div class="label"><%=l(:field_user)%></div>
          <div id="user" class="value"><%= @test_plan.user.name if @test_plan.user %></div>
        </div>
      </div>
      <div class="splitcontentleft">
        <div class="start-date attribute">
          <div class="label"><%=l(:field_begin_date)%></div>
          <div id="begin_date" class="value"><%= yyyymmdd_date(@test_plan.begin_date) %></div>
        </div>
        <div class="end-date attribute">
          <div class="label"><%=l(:field_end_date)%></div>
          <div id="end_date" class="value"><%= yyyymmdd_date(@test_plan.end_date) %></div>
        </div>
      </div>
    </div>
  </div>
  <div id="relations">
    <div class="contextual">
      <%= toggle_link l(:label_added), 'assign-test-case-form', { focus: 'test_case_id' } %>
    </div>
    <p><strong><%=l(:label_test_cases)%></strong></p>
    <%= form_for @test_case_test_plan, {
        remote: false,
        url: "#{project_test_plan_path}/assign_test_case",
        method: :post,
        html: {id: 'assign-test-case-form', style: 'display: none;'}
        } do |f| %>
      <%= render :partial => 'test_case_assignment', :locals => {:form => f}%>
    <% end %>
    <% if @test_plan.test_cases.present? %>
      <%= form_tag({}) do %>
      <table id="related_test_cases" class="list issues odd-even">
        <tbody>
          <% @test_plan.test_cases.each do |test_case| %>
            <tr class="issue">
              <td><%= link_to test_case.name, project_test_plan_test_case_url(test_plan_id: @test_plan.id, id: test_case.id) %></td>
              <td>
                <% tce = test_case.test_case_executions.find_by(test_plan: @test_plan); if tce %>
                  <%= tce.result ? l(:label_succeed) : l(:label_failure) %>
                <% else %>
                  <%= l(:label_none) %>
                <% end %>
              </td>
              <td><%= link_to test_case.user.name, user_path(test_case.user)  %></td>
              <td>
                <%= link_to l(:button_edit),
                            edit_project_test_plan_test_case_path(test_plan_id: @test_plan.id,
                                                                  id: test_case.id),
                            title: l(:label_test_case_edit),
                            class: "icon-only icon-edit" %>
              </td>
              <td>
                <%= link_to l(:label_relation_delete), "/projects/#{@project.identifier}/test_plans/#{@test_plan.id}/assign_test_case/#{test_case.id}",
                    method: :delete,
                    data: { confirm: l(:text_are_you_sure) },
                    title: l(:label_relation_delete),
                    class: "icon-only icon-link-break" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    <% end %>
  </div>
</div>

<div id="test_case_tree">
  <div class="contextual">
    <%= link_to l(:label_test_case_new), new_project_test_plan_test_case_path(test_plan_id: @test_plan.id),
        class: 'icon icon-add' %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'test_plans/sidebar' %>
<% end %>
